<div class="row" style="background-color: #eeeeee">
    @{
        ViewBag.Title = "Contact";
    }
   
    <h3>High Point, NC</h3>

    <address>
        West End Park<br />
        1901 Edgewood Dr.<br />
        High Point, NC 27262<br />
        3 or 4pm Kickoff<br />
        <abbr title="Phone">P:</abbr>
        336.867.5309
    </address>

    <address>
        <strong>Owner/GM</strong> Marie Moukdarath - <a href="mailto:triadoutsiders@gmail.com">triadoutsiders@gmail.com</a><br />
        <strong>Owner/HC</strong> Tay Stephens - <br /> 
    </address>
</div>