@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Triad Outsiders</h1>
    <p class="lead">A semi-pro football orginization based in High Point, North Carolina. </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Game Film</h2>
        <p>
            Watch film with of our games. To view you must be logged in. 
        </p>
        <p><a class="btn btn-default" href="~/Home/Film">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Team Roster</h2>
        <p>See what players we have and find your the jersey numbers, height and weight of our team. </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schedule</h2>
        <p>Check out what teams we will go through on our way to a ring!</p>
        <p><a class="btn btn-default" href="Home/Film">Learn more &raquo;</a></p>
    </div>
</div>