@{
    ViewBag.Title = "Home Page";
}

<style>
    img {
        display: block;
        margin: auto;
        width: 40%;
    }
</style>

<div class="jumbotron rcorners2">
    <center>
        <h1>The Triad Outsiders</h1>
    </center>
    <center>
        <p class="lead">
            Adult Developmental Football Orginization based in High Point, North Carolina.
    </center>
    <img src="~/Images/outsiders.jpg" />
    <center>#OsUp #TTO #2016 #RingChasin</center>
    </p>
</div>

<div class="row rcorners2">
    <div class="col-md-4 rcorners2" style="background-color: #eeeeee">
        <h2>Game Film</h2>
        <p>
            Watch film with of our games. To view you must be logged in.
        </p>
        <p><a class="btn btn-default" href="~/Home/Film">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 rcorners2" style="background-color: #eeeeee">
        <h2>Team Roster</h2>
        <p>View our players and staff. Jersey numbers, height and weight of our players. </p>
        <p><a class="btn btn-default" href="~/Home/Roster">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 rcorners2" style="background-color: #eeeeee">
        <h2>Schedule</h2>
        <p>Check out what teams we will go through on our way to a ring!</p>
        <p><a class="btn btn-default" href="Home/Schedule">2016 &raquo;</a></p>
    </div>
</div>