@{
    ViewBag.Title = "Schedule";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color: #eeeeee">
        <h1>2016 Schedule</h1>
        <ul>
            <li>7/9/16 - Away vs Recon *Exhibition* W 46-22</li>
            <li>7/16/16 - Home vs Grizzlies W 30-2</li>
            <li>7/23/16 - Home vs Colts</li>
            <li>7/30/16 - Home vs Golden Bears</li>
            <li>8/6/16 - Away vs Mpact</li>
            <li>8/13/16 - Away vs Thundering Herd</li>
            <li>8/20/16 - Away vs RedHawks</li>
            <li>8/27/16 - Home vs Seminoles</li>
            <li>9/3/16 - LABOR DAY BYE WEEK</li>
            <li>9/10/16 - Away vs Legends</li>
            <li>9/17/16 - Home vs Hawks</li>
            <li>9/24/16 - Away vs Dynasty</li>
            <li>10/1/16 - Away vs Hornets</li>
            <li>10/8/16 - MAKEUP GAMES</li>
            <li>10/15/16 - ROUND 1 PLAYOFFS</li>
            <li>10/22/16 - ROUND 2 PLAYOFFS</li>
            <li>10/29/16 - 2016 CCFL CHAMPIONSHIP</li>
        </ul>
    </div>
    <div class="col-md-4"></div>
</div>

